.game-area{
    width: 500px;
    height: 500px;
    background-color: rgb(240, 239, 239);
    border: 1px solid grey;
    display: grid;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 25px;
}


/* styling the tic-tac-toe cross rail */
.grid-container > div[class*="1-"]{
    border-bottom: 5px solid gray;
}

.grid-container > div[class*="3-"]{
    border-top: 5px solid gray;
}

.grid-container > div[class*="-1"]{
    border-right: 5px solid gray;
}

.grid-container > div[class*="-3"]{
    border-left: 5px solid gray;
}
/*---end---*/

.grid-container > div[class*="-"]{
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker{
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('o-green.png');
}